
body {
    min-height: 3000px;
}
.jumbotron {
    padding-top: 6rem;
    background-color:rgb(255, 255, 255);
}
section{
    padding-top: 8rem;
}
h2 {
    font-family:'Monsteraat'sans-serif;
    font-weight: bold
}
